@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype'),
      url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto-Medium.ttf') format('truetype'),
      url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.ttf') format('truetype'),
      url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff'),
      url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
      url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff'),
      url('../fonts/Poppins-Bold.ttf') format('truetype'),
      url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff'),
      url('../fonts/Poppins-Medium.ttf') format('truetype'),
      url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff'),
      url('../fonts/Poppins-Regular.ttf') format('truetype'),
      url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



$f_primary: "Roboto";
$f_secondary: "Poppins";
$secondary: #A2A9B0;
$primary: #0F62FE;
$primary-light: #A6C8FF;
$primary-red: #D50000;
$primary-red-hover: #b10202;

body {
  background-color: #F2F4F8 !important;
  font-family: $f_primary !important;
  padding-top: 65px;
}
h1,h2,h3,h4,h5,h6,p,a,button,li,th,td {
  font-family: $f_primary !important;
  text-decoration: none !important;
}
p {margin-bottom: 0 !important;}
.sidebar {
  .MuiPaper-elevation {
    border-right: none;
  }
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 0px;
}
.menu-box {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      border-top: 1px solid #C1C7CD;
      &:last-child {
        border-bottom: 1px solid #C1C7CD;
      }
      a {
        cursor: pointer;
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        color: #121619;
        padding: 15px 40px;
        background-color: #fff;
        transition: all 0.2s ease-out;
        &:hover, &.active {
          background-color: #A2A9B0;
        }
      }
    }
  }
  .menu-acc {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none;
    
    .MuiAccordionSummary-root {
      padding-left: 40px;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #A2A9B0;
      }
      .MuiAccordionSummary-content {
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        color: #121619;
      }
    }
    .MuiAccordionDetails-root {
      padding: 0;
      a {
        color: #666e75;
      }
    }
  }
}

.all_link_hedr {
  justify-content: center;
  .HeaderButton {
    color: #FFF;
    text-align: center;
    font-family: $f_primary !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
    margin: 0 40px 0 0;
    transition: all 0.2s ease-out;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    min-width: inherit;
    &:hover {
      border-bottom: 2px solid $primary-red;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.hedrSelct_pernt {
  .def_form_cotrl {
    min-width: inherit;
    .def_select {
      color: #FBFCFF;
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0.5px;
      height: 40px;
      width: 100%;
      max-width: 100px;
      border-radius: 0;
      border: none !important;
      background: transparent;
      box-shadow: none !important;
      outline: none !important;
      padding: 0;
      svg {
        color: #fff;
      }
    }
  }
}
a.sign_btn {
  border-radius: 15px;
  border: 1px solid #FFF;
  background: transparent;
  height: 40px;
  padding: 0 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 20px;
  color: #FFF;
  font-family: $f_primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

@media screen and (min-width: 1200px) {
  .responsive-logo {display: none;}
  .header {padding-right: 55px;}
}
.header {
  background-color: #fff !important;
  // border-bottom: 1px solid #DDE1E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  padding: 12px 0;
}
.headerv2 {
  background-color: #000 !important;
  // border-bottom: 1px solid #DDE1E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  padding: 12px 0;
}
@media screen and (max-width: 1199px) {
  .all_link_hedr .HeaderButton {
    font-size: 18px;
    margin: 0 25px 0 0;
  }
  .hedrSelct_pernt .def_form_cotrl .def_select {
    font-size: 15px;
  }
  a.sign_btn {
    margin-left: 5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .risiwClass {
    flex-grow: initial !important;
  }
  button.toggel_btn {
    padding: 0;
    margin-right: 20px;
  }
  .logoPernt {
    .HeaderLogo {
      width: 85px;
    }
  }
}
@media screen and (max-width: 575px) {
  a.sign_btn {
    padding: 0 15px;
    height: 35px;
    font-size: 13px;
  }
  button.toggel_btn {
    margin-right: 12px;
  }
  .hedrSelct_pernt .def_form_cotrl .def_select {
    font-size: 12px;
  }
  .logoPernt {
    .HeaderLogo {
      width: 60px;
    }
  }
  .header, .headerv2 {
    padding: 5px 0;
  }
}

.right-header {
  margin-left: auto;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style: none;
      margin-left: 15px;
    }
  }
}
.blnc-box {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 10px;
  background: #697077;
  padding: 0 8px;
  img {
    margin-right: 8px;
  }
}
.ntfctn-box {
  color: #121619 !important;
  padding: 0 !important;
  min-width: inherit !important;
  .ntfctn-nmbr {
    position: absolute;
    right: -5px;
    top: -2px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 50%;
    background: #DA1E28;
    color: #fff;
  }
}
.settings-box {
  color: #121619 !important;
  padding: 0 !important;
  min-width: inherit !important;
}
.user-block {
  height: 40px;
  width: 40px;
  background-color: #F2F4F8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C1C7CD;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: $secondary;
  }
}
.toggleButton {
  color: #343A3F !important;
}
@media screen and (max-width: 480px) {
  .d-none-mob {
    display: none !important;
  }
}
.main {
  padding: 40px;
  overflow: auto;
  @media screen and (max-width: 991px) {
    padding: 30px 15px;
  }
}
h2.def-title {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; 
  color: #343A3F;
  margin-bottom: 24px;
}
.cmmn-box {
  padding: 16px;
  border: 1px solid #DDE1E6;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  .cmmn-box-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    color: #21272A;
    margin-bottom: 16px;
  }
}
.revenue-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #697077;
  }
  h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: #21272A;
  }
}
.bedge {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  color: #21272A;
  border-radius: 12px;
  background: #F2F4F8;
  padding: 3px 12px;
}
.cmmn-table {
  table {
    border: 1px solid #DDE1E6;
    thead {
      th {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; 
        color: #121619;
        padding: 12px;
        border-color: #DDE1E6;
        background-color: #F2F4F8;
      }
    }
    tbody {
      td {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        color: #121619;
        padding: 12px;
        border-color: #DDE1E6;
      }
    }
  }
  .MuiDataGrid-columnHeaders {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    color: #121619;
    background-color: #F2F4F8;
  }
  .MuiDataGrid-cell {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #121619;
  }
}

button.menuBtn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  min-width: inherit;
  height: auto;
  top: 8px;
  position: relative;
}
@media screen and (max-width: 991px) {
  h2.def-title {font-size: 32px;}
}
.chart-box {
  .recharts-wrapper {
    width: 100% !important;
  }
}
.hm-header {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}
.tempBox {
  min-height: 83vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-body {
  background-color: black !important;
}

// Reports css
.m-b-24 {
  margin-bottom: 24px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}
.dat_pic_box {
  display: flex;
  .def_date_pickr {
    border-radius: 20px;
    border: 1px solid #C1C7CD !important;
    background: #FFF;
    outline: none !important;
    box-shadow: none !important;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    svg {
      color: #697077;
    }
    &:hover  {
      border-color: #C1C7CD !important;
    }
    .rs-input-group {
      border: none;
      outline: none !important;
      &:hover {border: none !important;}
      input {
        color: #21272A;
        font-family: $f_primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.5px;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 26px;
        width: 239px;
      }
      .rs-input-group-addon {
        padding: 0 18px 0 0;
      }
    }
  }
}
.def_form_cotrl {
  margin: 0 !important;
  width: 100%;
  .def_select {
    color: #21272A;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.5px;
    height: 52px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #C1C7CD !important;
    background: #FFF;
    padding: 0 0 0 26px;
    box-shadow: none !important;
    outline: none !important;
    &:hover {
      border-color: #C1C7CD !important;
    }
    .MuiSelect-select {
      font-family: $f_primary;
      display: flex;
      align-items: center;
      padding: 0;
    }
    fieldset {
      border: none !important;
      outline: none;
    }
  }
}
.whiteBox {
  border: 1px solid #DDE1E6;
  background: #FFF;
  padding: 16px 16px;
  width: 100%;
  height: 100%;
  p {
    color: #697077;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .innrFlx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #21272A;
      font-family: $f_primary;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
    }
    span {
      border-radius: 12px;
      background: #F2F4F8;
      padding: 3px 12px;
      color: #21272A;
      text-align: center;
      font-family: $f_primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-left: 5px;
    }
  }
}

.cmmn-table {
  .MuiPaper-elevation {
    border-radius: 0;
    box-shadow: none !important;
  }
  table {
    box-shadow: none !important;
    border-radius: 0;
  }
}
.mony_box {
  padding-bottom: 24px;
}

.inpt_pernt {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C1C7CD;
  padding: 5px 0;
  svg {
    margin-right: 8px;
    font-size: 25px;
    color: #697077;
  }
  input {
    width: 100%;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    font-family: $f_primary;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
  }
}

.pokerLinkBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .pokerBox {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 200px;
    img {
      width: 100%;
    }
  }
  p {
    color: #121619;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    font-family: $f_primary;
    margin-top: 30px;
  }
}
.tab_and_detpckr {
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #DDE1E6;
  width: 100%;
}
.tabs_main {
  border-bottom: 1px solid #DDE1E6;
  height: 59px;
  .tabsPernt {
    color: #21272A;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 10px 0;
    margin-right: 24px;
    height: auto;
    min-width: inherit;
    &:last-child {margin-right: 0;}
    .sevenBox {
      border-radius: 12px;
      background: #697077;
      height: 18px;
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: $f_primary;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    .MuiTouchRipple-root {display: none;}
  }
  .MuiTabs-indicator {
    background: #001D6C;
    bottom: 13px;
  }
}
.tabs_main .tabsPernt.Mui-selected {
  color: #001D6C;
}
.tabsPenal {
  padding: 24px 0 !important;
}
.userBox {
  display: flex;
  align-items: center;
  img {margin-right: 8px;}
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #121619;
  }
}
button.admin_menuBtn {
  top: 0;
}
.aPernt {
  margin-bottom: 37px;
}
a.newRfrls_link {
  border-radius: 10px;
  background: #333;
  padding: 16px 20px;
  color: #fff;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: $f_primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    color: #001D6C;
    background: #333333d4;
  }
}
.downArrow {
  margin-left: 8px !important;
  font-size: 16px !important;
}
.menuPernt {
  .threedotBtn {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    min-width: inherit;
    height: auto;
    transition: all 0.2s ease-out;
    svg {
      color: #697077;
    }
    &:hover {
      svg {
        color: #001D6C;
      }
    }
  }
}
.MuiPaper-root {
  ul {
    .menuLink {
      p {
        font-size: 14px !important;
        color: #000;
        display: flex;
        align-items: center;
      }

      svg {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}

.upTextBox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  h2 {
    margin-bottom: 0 !important;
  }
  svg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.newRfr_whitBox {
  border: 1px solid #DDE1E6;
  background: #fff;
  padding: 16px 16px;
}
.fomCtrol {
  max-width: 615px;
  width: 100%;
  .leble_text {
    color: #21272A;
    font-family: $f_primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  input {
    border-bottom: 1px solid  #C1C7CD;
    background: #F2F4F8;
    height: 48px;
    padding: 0 16px;
    width: 100%;
    outline: none;
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #000;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
.set_inSearch {
  display: flex;
  align-items: center;
  position: relative;
  input {
    padding-right: 53px;
  }
  svg {
    position: absolute;
    right: 16px;
    color: #21272A;
    font-size: 24px;
  }
}
.newFlex {
  display: flex;
  align-items: center;
  .fomCtrolV2 {
    margin-left: 16px;
    max-width: 73px;
    input {
      text-align: end;
    }
  }
}
.fomCtrolV2 {
  max-width: 150px;
  .def_form_cotrl .def_select {
    border-radius: 3px;
    border: 1px solid #C1C7CD !important;
    background: #F2F4F8;
    padding: 0 0 0 12px;
    color: #F5F5F5;
    font-family: $f_primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (min-width: 1200px) {
  .poker_bros {
    .costomGrid {
      width: 20%;
      flex-basis: 20%;
    }
  }
}
@media screen and (max-width: 575px) {
  .dat_pic_box .def_date_pickr .rs-input-group input {
    padding-left: 15px;    
    font-size: 14px;
  }
  .dat_pic_box .def_date_pickr {
    height: 45px;
  }
  .dat_pic_box .def_date_pickr .rs-input-group .rs-input-group-addon {
    padding: 0 12px 0 0;
  }
  .def_form_cotrl .def_select {
    font-size: 14px;
    height: 45px;
    padding: 0 0 0 14px;
  }
  .m-b-24 {
    margin-bottom: 20px !important;
  }
  .m-t-24 {
    margin-top: 20px !important;
  }
  .whiteBox {
    padding: 10px 8px;
    p {
      font-size: 12px;
    }
    .innrFlx {
      h1 {
        font-size: 14px;
        line-height: 15px;
      }
      span {
        padding: 3px 5px;
        font-size: 10px;

      }
    }
  }
  .pokerLinkBx p {
    margin-top: 18px;
  }
}
.dat_pic_boxv2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -59px;
  position: relative;
  button {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border: none;
    border-bottom: 1px solid #C1C7CD;
    background-color: #fff;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    .dtpckr {
      color: #697077;
      margin-left: 6px;
      font-size: 18px;
    }
    .mdd_arrow {
      background: #DDE1E6;
      color: #697077;
      padding: 10px;
      margin: -10px 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .dat_pic_boxv2 {
    margin-bottom: 10px;
    button {font-size: 14px;}
  }
}

// Home Page Css
.def_p {padding-top: 23px;}
.homeSectionOne {
  background: url(../images/sc_one_img.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  p {
    color: #FFF;
    text-align: center;
    font-family: $f_secondary;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0.8px;
    max-width: 510px;
  }
  .m-pernt {
    margin-top: 42px;
    margin-bottom: 40px !important;
  }
  .redBtn_pernt {justify-content: center;}
}
.redBtn_pernt {
  display: flex;
  align-items: center;
}
a.def-button, button.def-button {
  border-radius: 8px;
  background: $primary-red;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 32px;
  height: 52px;
  display: flex;
  align-items: center;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: $f_secondary;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;  
  transition: all 0.2s ease-out;
  &:hover {
    background: $primary-red-hover;
  }
}
.costomContainer {
  max-width: 1480px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 0 auto;
}
.homeSectionTwo {
  background: #030303;
  padding-top: 100px;
  padding-bottom: 300px;
}
.imgCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100%;
  }
}
.centerContent {
  align-items: center !important;
  display: flex;
}
p.def_peragraph {
  color: #FFF;
  font-family: $f_secondary;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.4px;
}
.ourPlrs {
  margin-left: 150px;
  p {
    max-width: 467px;
    margin-bottom: 41px !important;
  }
}
.homeSectionThree {
  background: url(../images/hom_se_three_img.jpg) no-repeat center; 
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.se_threInnr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    max-width: 1098px;
    text-align: center;
    margin-bottom: 30px !important;
    .redText {
      background: linear-gradient(180deg, #D50000 49%, #FFF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
    }
    .whitText {font-weight: 500;}
  }
}
.homeSectionFour {
  background: #010101;
  padding-top: 200px;
  padding-bottom: 150px;
}
.txtFlexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  h1 {
    color: #FFF;
    font-family: $f_primary;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
  }
  p {
    max-width: 636px;
    text-align: justify;
    line-height: 34px;
  }
}
.f-w-600 {
  font-weight: 600 !important;
}
.box_cont_cetr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeSectionFive {
  padding-top: 150px;
  padding-bottom: 120px;
  background: #010101;
  a.def-button {
    font-size: 20px;
    margin-top: 30px;
  }
}
.f-w-500 {font-weight: 500 !important;}
.basisStyl {
  flex-basis: 20% !important;
  max-width: 20% !important;
}
.homeSectionSeven {
  background: #010101;
  padding-top: 100px;
  padding-bottom: 170px;
  h1 {
    color: #FFF;
    text-align: center;
    font-family: $f_secondary;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.48px;
    margin-bottom: 40px;
  }
}
.costomContainerV2 {
  max-width: 1120px;
}
.tstmols_bg_box {
  border-radius: 4px;
  background: #1A1B23;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  padding: 30px 30px;
  min-height: 350px;
  .contntText {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.48px;
    margin: 20px 0 !important;
  }
}
.userBxx {
  display: flex;
  align-items: center;
  img {margin-right: 19px;}
  h6 {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    letter-spacing: 0.48px;
  }
  p {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.42px;
  }
}
.homeSectionLsta {
  background: url(../images/last_se_bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  .def_peragraph {
    color: #FFF;
    text-align: center;
    font-family: $f_secondary;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.6px;
    max-width: 1100px;
  }
  a.def-button {
    font-size: 20px;
  }
}
.logo-slider .slick-slide>div {
  display: flex;
  align-items: center;
  min-height: 105px;
  justify-content: center;
}
.logo-slider .slick-slide>div a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  box-shadow: none;
}
.slick-prev {
  left: -20px !important;
}
.slick-next {
  right: -20px !important;
}
.sem_marnPernt {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.mobile_imgPernt {
  img {width: 100%;}
}

//**//
.footer {
  background: #000;
  padding: 34px 0;
}
.foterInnrFlx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: #FFF;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (max-width: 1400px) {
  .ourPlrs {
    margin-left: 80px;
  }
  .homeSectionTwo {
    padding-top: 70px;
    padding-bottom: 200px;
  }
  .txtFlexBox h1 {
    font-size: 40px;
  }
  .homeSectionLsta .def_peragraph {
    font-size: 40px;
    max-width: 800px;
  }
}
@media screen and (max-width: 1199px) {
  .homeSectionLsta .def_peragraph {
    font-size: 30px;
    max-width: 550px;
  }
  .homeSectionOne p {
    font-size: 30px;
    line-height: 31px;
  }
  .homeSectionOne .m-pernt {
    margin-top: 32px;
    margin-bottom: 30px !important;
  }
  a.def-button {
    font-size: 20px;
  }
  p.def_peragraph {
    font-size: 30px;
  }
  .ourPlrs {
    margin-left: 20px;
  }
  .ourPlrs p {
    margin-bottom: 20px !important;
  }
  .txtFlexBox h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .txtFlexBox p {
    max-width: 311px;
  }
  .homeSectionFive {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .homeSectionSeven {
    padding-top: 70px;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 991px) {
  .homeSectionFive {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .homeSectionFour {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .homeSectionLsta .def_peragraph {
    font-size: 20px;
    max-width: 338px;
  }
  .ourPlrs {
    margin-left: 0;
  }
  p.def_peragraph {
    font-size: 20px;
  }
  .homeSectionOne p {
    font-size: 20px;
    line-height: 24px;
  }
  .homeSectionTwo {
    padding-bottom: 100px;
  }
  .sem_marnPernt {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .homeSectionSeven h1 {
    font-size: 34px;
  }
  .tstmols_bg_box .contntText {
    font-size: 18px;
    margin: 8px 0 !important;
  }
  .userBxx h6 {
    font-size: 18px;
  }
  .userBxx p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .txtFlexBox {
    flex-direction: column;
  }
  .tstmols_bg_box {
    min-height: inherit;
  }
  .homeSectionSeven h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .homeSectionLsta .def_peragraph {
    font-size: 16px;
    max-width: 238px;
  }
  .homeSectionFour {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .homeSectionFive {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .footer {
    padding: 17px 0;
  }
  .foterInnrFlx {
    .HeaderLogo {
      width: 64px;
    }
  }
  .foterInnrFlx p {font-size: 8px;}
}
@media screen and (max-width: 600px) {
  .def_p {
    padding-top: 0;
  }
  body {
    padding-top: 58px;
  }
  .centerContent {display: block;}
  .ourPlrs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .risposw_pernt {
    .def_peragraph {
      text-align: center;
    }
  }
}
@media screen and (max-width: 575px) {
  .homeSectionOne p {
    font-size: 18px;
    line-height: 21px;
    max-width: 100%;
  }
  .homeSectionOne .m-pernt {
    margin-top: 16px;
    margin-bottom: 18px !important;
  }
  a.def-button {
    font-size: 14px;
    height: 40px;
  }
  p.def_peragraph {
    font-size: 18px;
  }
  .txtFlexBox h1 {
    font-size: 20px;
  }
  .txtFlexBox p {
    max-width: 228px;
  }
  .homeSectionSeven h1 {
    font-size: 21px;
    margin-bottom: 24px;
  }
  .tstmols_bg_box {
    padding: 15px 15px;
  }
  .userBxx img {
    margin-right: 12px;
    width: 45px;
  }
  .userBxx p {
    font-size: 13px;
  }
  .txtFlexBox h1 {
    line-height: 20px;
  }
  .homeSectionLsta a.def-button {
    font-size: 14px !important;
  }
}



/**/
.userPageBox {
  padding: 40px 10px 10px 10px;
  min-height: 81vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userContainer {
  width: 100%;
  max-width: 480px;
}
.authBox {
  .auth-logo {
    max-width: 326px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
  h5 {
    font-family: $f_secondary;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    color: #FFF;
    text-align: center;
    margin: 32px 0;
    width: 100%;
  }
  .def-button {
    border-radius: 15px;
    width: 100%;
    text-shadow: none;
  }
  p {
    font-family: $f_secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.15px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px !important;
  }
  .headV2 {
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .rsnd-text {
    margin-top: 16px;
    font-size: 14px;
    span {
      color: $primary-red;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover {
        color: $primary-red-hover;
      }
    }
  }
}
.input-box {
  position: relative;
  margin-bottom: 15px;
  .user-input {
    font-family: $f_secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #161A23;
    color: #fff;
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    padding: 5px 24px;
  }
}
.input-box .user-input::-webkit-input-placeholder {
  color: #8b919e;
}
.toggleButtonv2 {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  svg {
    color: #fff;
  }
}
a.frgt-link {
  font-family: $f_secondary;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline !important;
  color: #FFF;
  display: block;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  &:hover {
    color: $primary-red;
  }
}

.vrfctn-box {
  max-width: 408px;
  margin: 0 auto 35px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    font-family: $f_secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #FFF;
    width: 84px;
    height: 74px;
    background: transparent;
    outline: none;
    color: #fff;
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .authBox {
    .auth-logo {max-width: 226px;}
    h5 {
      font-size: 26px;
      line-height: 44px;
    }
  }
}
@media screen and (max-width: 767px) {
  .vrfctn-box input {
    width: 64px;
    height: 58px;
  }
}

//**//
.conten_us_page {
  background: url(../images/contact-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 60px;
}
.contInnr {
  .contHedr {
    color: #FFF;
    text-align: center;
    font-family: $f_secondary;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contPera {
    color: #ffff;
    text-align: center;
    font-family: $f_secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 23px !important;
  }
}
.innrBg_box {
  background: #0B0A0A;
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.03));
  padding: 80px 150px;
  .redBtn_pernt {
    margin-top: 40px;
    button {
      border: none;
    }
  }
}
.Our_msgrs {
  h2 {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  p {
    color: #C9C9C9;
    font-family: $f_secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 296px;
    margin-top: 15px;
  }
}
.sosl_mida {
  display: flex;
  align-items: center;
  padding-top: 27px;
  a {
    transition: all 0.2s ease-out;
    margin-right: 47px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.cont_formContrl {
  .cont_lable {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px !important;
  }
  .cont_def_inpt {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 0;
    outline: none;
    box-shadow: none;
    color: #FFF;
    font-family: $f_secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-left: 2px;
    &::placeholder {
      color: #FFF;
      font-family: $f_secondary;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }
}
@media screen and (max-width: 1199px) {
  .innrBg_box {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 991px) {
  .innrBg_box {
    padding: 20px 20px;
  }
  .contInnr .contHedr {
    font-size: 35px;
  }
  .contInnr .contPera {
    font-size: 20px;
    margin-bottom: 23px !important;
  }
  .Our_msgrs h2 {
    font-size: 30px;
  }
  .Our_msgrs p {
    font-size: 20px;
    margin-top: 10px;
    max-width: 222px;
  }
  .sosl_mida {
    padding-top: 20px;
  }
  .sosl_mida a {
    margin-right: 25px;
  }
  .cont_formContrl .cont_lable {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .order_pernt {order: 2;}
  .conten_us_page {
    padding-top: 20px;
  }
  .contInnr .contHedr {
    font-size: 20px;
  }
  .contInnr .contPera {
    font-size: 18px;
    max-width: 228px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .innrBg_box .redBtn_pernt button {margin: 0 auto;}
  .Our_msgrs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
  }
  .Our_msgrs h2 {
    font-size: 18px;
  }
  .Our_msgrs p {
    font-size: 18px;
    text-align: center;
  }
}
//**//
.faq_main {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../images/faq-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
h1.def_hed_faq_about {
  color: #FFF;
  font-family: $f_secondary;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.faq_innr {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.faq_body {
  padding-top: 32px;
}
.accornMainn {
  background: transparent !important;
  border-radius: 10px !important;
  border: 0.5px solid rgb(255 255 255 / 53%);
  backdrop-filter: blur(7.5px);
  margin-bottom: 32px;
  .accorn_summry {
    padding: 0 !important;
    min-height: 80px;
    .MuiAccordionSummary-content {
      margin: 0 !important;
      align-items: center;
      padding-left: 40px;
    }
    p {
      color: #fff;
      font-family: $f_secondary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 40px;
      span {
        margin-right: 40px;
      }
    }
    .button_tap {
      border-radius: 0px 8px 8px 0px;
      background: #161A23;
      backdrop-filter: blur(7.5px);
      min-width: 86px;
      height: 82px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 8px 8px 0;
      margin: -1px -1px -1px auto;
      .remove_icon {
        display: none;
      }
      svg {
        color: #fff;
        font-size: 32px;
      }
    }
    .Mui-expanded {
      .button_tap {
        background: red;
        .add_icon {
          display: none;
        }
        .remove_icon {
          display: block;
        }
      }
    }
  }
  .accornInnr {
    padding: 20px 40px 10px 108px;
    p {
      color: #fff;
      font-family: $f_secondary;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }
  }
}
@media screen and (max-width: 767px) {
  h1.def_hed_faq_about {
    font-size: 30px;
  }
  .accornMainn .accorn_summry .MuiAccordionSummary-content {
    padding-left: 20px;
  }
  .accornMainn .accorn_summry p {
    font-size: 20px;
    margin-right: 20px;
  }
  .accornMainn .accornInnr {
    padding: 20px 40px 10px 64px;
  }
  .accornMainn .accornInnr p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 575px) {
  h1.def_hed_faq_about {
    font-size: 20px;
  }
  .faq_body {
    padding-top: 24px;
    padding-right: 40px;
  }
  .accornMainn .accorn_summry p {
    font-size: 13px;
  }
  .costomContainer {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .accornMainn .accorn_summry .button_tap {
    min-width: 40px;
    height: 40px;
    margin: 0 -41px 0 auto;
  }
  .faq_innr {
    width: 100%;
  }
  .accornMainn .accorn_summry {
    min-height: 64px;
  }
  .accornMainn .accornInnr {
    padding: 4px 15px 10px 15px;
  }
}

//**//
.abotScOne {
  background: url(../images/about_sc_one_bg.png) no-repeat center;
  background-size: cover;
  min-height: 625px;
  background-color: #000;
}
.abotUsSc {
  background: #000;
  padding-top: 120px;
  padding-bottom: 100px;
}
.abtUsInnr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    margin-bottom: 38px !important;
    border-bottom: 3px solid #D50000;
    padding-bottom: 20px;
  }
  p {
    max-width: 536px;
  }
}
h3.about_def_hed {
  color: #FFF;
  font-family: $f_secondary;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
p.about_def_pera {
  color: #FFF;
  text-align: justify;
  font-family: $f_secondary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.howWeDoItSc {
  background: #000;
}
.costomContainer1300 {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
.how_contentCenter {
  display: flex;
  align-items: center;
}
.how_content {
  h3 {
    line-height: 40px;
    border-left: 3px solid #D50000;
    padding-left: 20px;
    margin-bottom: 26px !important;
  }
  p {
    line-height: 27px;
    max-width: 686px;
  }
}
.how_content .ourValues {
  margin-bottom: 40px !important;
}
.ourVluInnr {
  border-right: 3px solid #D50000;
  padding-right: 30px;
  h6 {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 32px 0 !important;
  }
  p {
    color: #FFF;
    text-align: justify;
    font-family: $f_secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1.71px;
    max-width: 262px;
  }
}
.ourContFlx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.howWeDoItScV2 {
  padding-top: 60px;
}
.unsplash_img {
  img {width: 100%;}
}

@media screen and (max-width: 991px) {
  h3.about_def_hed {
    font-size: 30px;
  }
  .abotUsSc {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .abtUsInnr h3 {
    margin-bottom: 27px !important;
    padding-bottom: 11px;
  }
  p.about_def_pera {
    font-size: 18px;    
    line-height: 25px;
  }
  .how_content h3 {
    margin-bottom: 14px !important;
    line-height: 34px;
  }
  .how_content .ourValues {
    margin-bottom: 22px !important;
  }
  .ourVluInnr h6 {
    font-size: 18px;
    margin: 20px 0 !important;
  }
  .ourVluInnr p {
    font-size: 14px;
  }
  .ourVluInnr {
    padding-right: 20px;
  }
  .margn_left {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .ourContFlx {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .margn_left {
    margin-left: 0;
  }
  .ourVluInnr {
    border-right: none;
    border-bottom: 3px solid #D50000;
    padding-right: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    p {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 575px) {
  .costomContainer1300 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .abotUsSc {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  h3.about_def_hed {
    font-size: 20px;
  }
  .abtUsInnr h3 {
    margin-bottom: 17px !important;
    padding-bottom: 2px;
  }
  p.about_def_pera {
    font-size: 15px;
    line-height: 21px;
  }
  .how_content h3 {
    padding-left: 12px;
  }
}
#sc-launcher {
  .sc-launcher {
    background-color: $primary-red;
  }
  .sc-header {
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(0deg, #181717 0%, #181717 100%), #D9D9D9;
    box-shadow: none;
  }
  .sc-header--team-name {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sc-chat-window {
    background: #0B0A0A;
  }
  .sc-header--close-button {
    margin-right: 0;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 50%;
  }
  .sc-message-list {
    background: #0B0A0A;
  }
  .sc-message--content.sent .sc-message--text {
    border-radius: 10px 0px 10px 10px;
    background: #4A4848;
    padding: 10px 15px;
    color: #FFF;
    font-family: $f_secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .sc-message--text {
    border-radius: 0px 10px 10px 10px;
    padding: 10px 15px;
    color: #FFF;
    font-family: $f_secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: #1f1b1b;
  }
  .sc-message--file {
    background: #4A4848;
  }
  .sc-user-input--file-icon-wrapper {
    
  }
  .sc-message--file p {
    color: #FFF;
    font-family: $f_secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}