@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype'),
      url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto-Medium.ttf') format('truetype'),
      url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.ttf') format('truetype'),
      url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$f_primary: "Roboto";
$secondary: #A2A9B0;
$primary: #0F62FE;
$primary-light: #A6C8FF;

body {
  background-color: #F2F4F8 !important;
  font-family: $f_primary !important;
  padding-top: 65px;
}
h1,h2,h3,h4,h5,h6,p,a,button,li,th,td {
  font-family: $f_primary !important;
  text-decoration: none !important;
}
.sidebar {
  .MuiPaper-elevation {
    border-right: none;
  }
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 34px 0px;
}
.menu-box {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      border-top: 1px solid #C1C7CD;
      &:last-child {
        border-bottom: 1px solid #C1C7CD;
      }
      a {
        cursor: pointer;
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        color: #121619;
        padding: 15px 40px;
        background-color: #fff;
        transition: all 0.2s ease-out;
        &:hover, &.active {
          background-color: #A2A9B0;
        }
      }
    }
  }
  .menu-acc {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none;
    
    .MuiAccordionSummary-root {
      padding-left: 40px;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #A2A9B0;
      }
      .MuiAccordionSummary-content {
        font-size: 13px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        color: #121619;
      }
    }
    .MuiAccordionDetails-root {
      padding: 0;
      a {
        color: #666e75;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .responsive-logo {display: none;}
  .header {padding-right: 55px;}
}
.header {
  background-color: #fff !important;
  border-bottom: 1px solid #DDE1E6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.right-header {
  margin-left: auto;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style: none;
      margin-left: 15px;
    }
  }
}
.blnc-box {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 10px;
  background: #697077;
  padding: 0 8px;
  img {
    margin-right: 8px;
  }
}
.ntfctn-box {
  color: #121619 !important;
  padding: 0 !important;
  min-width: inherit !important;
  .ntfctn-nmbr {
    position: absolute;
    right: -5px;
    top: -2px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 50%;
    background: #DA1E28;
    color: #fff;
  }
}
.settings-box {
  color: #121619 !important;
  padding: 0 !important;
  min-width: inherit !important;
}
.user-block {
  height: 40px;
  width: 40px;
  background-color: #F2F4F8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C1C7CD;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: $secondary;
  }
}
.toggleButton {
  color: #343A3F !important;
}
@media screen and (max-width: 480px) {
  .d-none-mob {
    display: none !important;
  }
}
.main {
  padding: 40px;
  overflow: auto;
  @media screen and (max-width: 991px) {
    padding: 30px 15px;
  }
}
h2.def-title {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; 
  color: #343A3F;
  margin-bottom: 24px;
}
.cmmn-box {
  padding: 16px;
  border: 1px solid #DDE1E6;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  .cmmn-box-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    color: #21272A;
    margin-bottom: 16px;
  }
}
.revenue-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #697077;
  }
  h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: #21272A;
  }
}
.bedge {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  color: #21272A;
  border-radius: 12px;
  background: #F2F4F8;
  padding: 3px 12px;
}
.cmmn-table {
  table {
    border: 1px solid #DDE1E6;
    thead {
      th {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; 
        color: #121619;
        padding: 12px;
        border-color: #DDE1E6;
        background-color: #F2F4F8;
      }
    }
    tbody {
      td {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        color: #121619;
        padding: 12px;
        border-color: #DDE1E6;
      }
    }
  }
  .MuiDataGrid-columnHeaders {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; 
    color: #121619;
    background-color: #F2F4F8;
  }
  .MuiDataGrid-cell {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: #121619;
  }
}

button.menuBtn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  min-width: inherit;
  height: auto;
  top: 8px;
  position: relative;
}
@media screen and (max-width: 991px) {
  h2.def-title {font-size: 32px;}
}
.chart-box {
  .recharts-wrapper {
    width: 100% !important;
  }
}
.hm-header {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}
.tempBox {
  min-height: 83vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-body {
  background-color: black !important;
}

// Reports css
.m-b-24 {
  margin-bottom: 24px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}
.dat_pic_box {
  display: flex;
  .def_date_pickr {
    border-radius: 20px;
    border: 1px solid #C1C7CD !important;
    background: #FFF;
    outline: none !important;
    box-shadow: none !important;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    svg {
      color: #697077;
    }
    &:hover  {
      border-color: #C1C7CD !important;
    }
    .rs-input-group {
      border: none;
      outline: none !important;
      &:hover {border: none !important;}
      input {
        color: #21272A;
        font-family: $f_primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.5px;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 26px;
        width: 239px;
      }
      .rs-input-group-addon {
        padding: 0 18px 0 0;
      }
    }
  }
}
.def_form_cotrl {
  margin: 0 !important;
  width: 100%;
  .def_select {
    color: #21272A;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.5px;
    height: 52px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #C1C7CD !important;
    background: #FFF;
    padding: 0 0 0 26px;
    box-shadow: none !important;
    outline: none !important;
    &:hover {
      border-color: #C1C7CD !important;
    }
    .MuiSelect-select {
      font-family: $f_primary;
      display: flex;
      align-items: center;
      padding: 0;
    }
    fieldset {
      border: none !important;
      outline: none;
    }
  }
}
.whiteBox {
  border: 1px solid #DDE1E6;
  background: #FFF;
  padding: 16px 16px;
  width: 100%;
  height: 100%;
  p {
    color: #697077;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .innrFlx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: #21272A;
      font-family: $f_primary;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
    }
    span {
      border-radius: 12px;
      background: #F2F4F8;
      padding: 3px 12px;
      color: #21272A;
      text-align: center;
      font-family: $f_primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-left: 5px;
    }
  }
}

.cmmn-table {
  .MuiPaper-elevation {
    border-radius: 0;
    box-shadow: none !important;
  }
  table {
    box-shadow: none !important;
    border-radius: 0;
  }
}
.mony_box {
  padding-bottom: 24px;
}

.inpt_pernt {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C1C7CD;
  padding: 5px 0;
  svg {
    margin-right: 8px;
    font-size: 25px;
    color: #697077;
  }
  input {
    width: 100%;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    font-family: $f_primary;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
  }
}

.pokerLinkBx {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .pokerBox {
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 200px;
    img {
      width: 100%;
    }
  }
  p {
    color: #121619;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    font-family: $f_primary;
    margin-top: 30px;
  }
}
.tab_and_detpckr {
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #DDE1E6;
  width: 100%;
}
.tabs_main {
  border-bottom: 1px solid #DDE1E6;
  height: 59px;
  .tabsPernt {
    color: #21272A;
    font-family: $f_primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 10px 0;
    margin-right: 24px;
    height: auto;
    min-width: inherit;
    &:last-child {margin-right: 0;}
    .sevenBox {
      border-radius: 12px;
      background: #697077;
      height: 18px;
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: $f_primary;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
    .MuiTouchRipple-root {display: none;}
  }
  .MuiTabs-indicator {
    background: #001D6C;
    bottom: 13px;
  }
}
.tabs_main .tabsPernt.Mui-selected {
  color: #001D6C;
}
.tabsPenal {
  padding: 24px 0 !important;
}
.userBox {
  display: flex;
  align-items: center;
  img {margin-right: 8px;}
  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #121619;
  }
}
@media screen and (min-width: 1200px) {
  .poker_bros {
    .costomGrid {
      width: 20%;
      flex-basis: 20%;
    }
  }
}
@media screen and (max-width: 575px) {
  .dat_pic_box .def_date_pickr .rs-input-group input {
    padding-left: 15px;    
    font-size: 14px;
  }
  .dat_pic_box .def_date_pickr {
    height: 45px;
  }
  .dat_pic_box .def_date_pickr .rs-input-group .rs-input-group-addon {
    padding: 0 12px 0 0;
  }
  .def_form_cotrl .def_select {
    font-size: 14px;
    height: 45px;
    padding: 0 0 0 14px;
  }
  .m-b-24 {
    margin-bottom: 20px !important;
  }
  .m-t-24 {
    margin-top: 20px !important;
  }
  .whiteBox {
    padding: 10px 8px;
    p {
      font-size: 12px;
    }
    .innrFlx {
      h1 {
        font-size: 14px;
        line-height: 15px;
      }
      span {
        padding: 3px 5px;
        font-size: 10px;

      }
    }
  }
  .pokerLinkBx p {
    margin-top: 18px;
  }
}
.dat_pic_boxv2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -59px;
  position: relative;
  button {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border: none;
    border-bottom: 1px solid #C1C7CD;
    background-color: #fff;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    .dtpckr {
      color: #697077;
      margin-left: 6px;
      font-size: 18px;
    }
    .mdd_arrow {
      background: #DDE1E6;
      color: #697077;
      padding: 10px;
      margin: -10px 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .dat_pic_boxv2 {
    margin-bottom: 10px;
    button {font-size: 14px;}
  }
}