.App {
  /* background: linear-gradient(
    106.37deg,
    #bce1ff 29.63%,
    #d9cfff 51.55%,
    #f3c6f1 90.85%
  ); */
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}



